<!-- PROFILE PAGE MARKER -->

<%- include("header.ejs") %>


    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/header.css">
        <link rel="stylesheet" href="styles/profile.css">
    </head>

    <body>


        <div class="profile-container">
            <div class="profile-top-info-container">
                <div class="profile-icon-large">
                    <i class="ai-person large"></i>
                </div>

                <div class="profile-tab-name-large">
                    <%= locals.user %>
                </div>

                <div class="analytics-profile">
                    <div class="watch-count">
                        <span>0</span>
                        <p>Shows Watched</p>
                    </div>
                    <div class="fav-count">
                        <span>0</span>
                        <p>Favourites</p>
                    </div>
                    <div class="review-count">
                        <span>0</span>
                        <p>Reviews</p>
                    </div>
                </div>

                <div class="account-details">
                    <p>Account Details</p>
                    <p>Name</p>
                    <p>Email</p>
                </div>

            </div>

            <div class="profile-favourites-container">
                <%- include("subFavourites.ejs") %>
            </div>
        </div>



    </body>

    </html>


    <%- include("footer.ejs") %>