<!-- PROFILE PAGE MARKER -->

<%- include("header.ejs") %>


    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/header.css">
        <link rel="stylesheet" href="styles/profile.css">
    </head>

    <body>


        <div class="profile-container">
            <div class="profile-info-container">
                <div class="profile-icon-large">
                    <i class="ai-person large"></i>
                </div>

                <div class="profile-tab-name-large">
                    <%= locals.user %>
                </div>
            </div>

            <div class="profile-favourites-container">
                <%- include("subFavourites.ejs") %>
            </div>
        </div>



    </body>

    </html>


    <%- include("footer.ejs") %>