<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anibox.</title>

    <link rel="stylesheet" href="/styles/login.css">

    <link href="https://api.fontshare.com/v2/css?f[]=chillax@500,600&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/akar-icons-fonts"></script>
</head>

<body>


    <main>

        <span>anibox.</span>

        <div class="signup-container">

            <div class="signup-wrapper">
                <div class="local-signup">
                    <form class="signup-form" action="/signup" method="POST">

                        <div>
                            <input id="signup-email" type="text" name="newUserName" placeholder="Enter username">
                            <label for="signup-email">Username</label>
                        </div>

                        <div>
                            <input id="signup-email" type="text" name="newUserMail" placeholder="Enter your email here">
                            <label for="signup-email">Email</label>
                        </div>

                        <div>
                            <input id="signup-pass" type="text" name="newUserPassword"
                                placeholder="Enter password here">
                            <label for="signup-pass">Create Password</label>
                        </div>

                        <div>
                            <input type="submit" value="Create account">
                        </div>

                        <!-- <div>
                                    <input id="signup-pass-confirm" type="text" name="newUserPasswordConfirm"
                                        placeholder="Enter password again">
                                    <label for="signup-pass-confirm">Confirm Password</label>
                                </div> -->

                    </form>
                </div>

                <div class="auth-separation"></div>

                <div class="oauth">
                    <div class="google">
                        <a href="/auth/google">
                            <i class="ai-google-fill"></i>
                            <span>Sign up with google</span>
                        </a>
                    </div>
                    
                </div>
            </div>


            <span>
                Already have an account? <a href="/login">Login</a>
            </span>


        </div>

    </main>

</body>

</html>