a {
    color: white;
    text-decoration: none;
}

* {
    font-family: "Poppins", sans-serif;
}

.info-wrapper {
    padding: 10px;
}

.top-container {
    position: relative;
    width: 100%;
}

.background-img {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    /* background-image: url("/images/bg.jpg"); */
    background-image: url("https://cdn.wallpapersafari.com/75/87/dsINFw.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* box-shadow: inset 0px 33px 50px 23px rgba(25, 0, 9, 0.7); */
    /* -webkit-box-shadow: inset 0px 8px 21px 7px #4A0000;  */
    -webkit-box-shadow:
        inset 0px 50px 21px 7px #130000,
        inset 0px -50px 21px 7px #4A0000;
    box-shadow:
        inset 0px 50px 21px 7px #0f0000,
        inset 0px -50px 21px 7px #1d0000;

}

.info-container {

    margin-top: 15px;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    display: flex;
    /* outline: 1px solid black; */
    /* padding: 10px; */

    z-index: 1;

    

}



.info-left {
    /* outline: 1px solid white; */
    padding: 30px;
    width: fit-content
}

.info-left {
    display: flex;
}

.info-left-desc {
    padding: 5px 40px;
    /* outline: 1px solid white; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.anime-name {
    font-size: 36px;
    font-weight: 500;
}

.favourites-btn-container input,
.favourites-btn-container button {
    outline: none;
    border: none;
    padding: 11px;
    background-color: rgb(230, 176, 1);
    border-radius: 30px;
    font-size: 17px;

}

.episode-info {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(62, 58, 58);
}



.separation-circle {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: rgb(62, 58, 58);
}


.rating-ranking {
    display: flex;
    gap: 20px;
}

.rating-ranking-sub-text {
    color: rgb(62, 58, 58);
    font-weight: normal;
}


.ranking,
.rating {
    font-weight: 600;

}

.info-left-img-container {
    padding: 20px;
    /* outline: 1px solid white; */
}

.info-left-img-container img {
    width: 190px;
    display: block;
}


.info-right,
.info-left {
    font-size: 14px;
}

.info-right {
    /* outline: 1px solid blue; */
    width: 350px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    background: rgba(0, 0, 0, 0.5);

}

.genres {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.genres span {
    padding: 0px 7px;
    outline: 1px solid rgb(100, 93, 93);
    border-radius: 20px;
}

.studios,
.producers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.studios p,
.producers p {
    font-weight: 600;
}

.favourites-alert, .review-alert {
    border-radius: 20px;

    border: 1px solid rgba(139, 139, 139, 1);
    background-color: rgb(39, 37, 55);
    padding: 10px 0;
    width: 350px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -200px;

    left: calc(50% - 175px);

    transition: 0.5s;

    color: rgba(218, 63, 63, 0.905);
}

.review-alert { 
    font-size: 15px;
    position: absolute;
    top: 20px;
    left: calc(50% - 175px);

    transform: translateY(-200px); /* hidden */
    opacity: 0;
    transition: 0.5s;

    z-index: 10; /* IMPORTANT */

}

.review-alert p {
    font-size: inherit !important;
}

.favourites-btn {
    transition: 0.7s;
}

.favourites-btn:hover {
    transform: scale(1.04);
}

.info-right .description {
    display: none;
    font-weight: 600;
}


.container2 {
    position: relative;
    width: inherit;
    /* margin-top: 20px; */
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.trailer, .reviews{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.trailer :nth-child(1), .reviews :nth-child(1) {
    font-size: 25px;
    font-weight: 500;
}

iframe {
    outline: none;
    border: none;
    width: 80%;
    max-width: 560px; 
    /* height: 315px;  */
    aspect-ratio: 16/9;
}


.reviews form {
    /* outline: 1px solid white; */
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

textarea::placeholder {
    font-size: 15px;
}

.review-input {
    /* outline: 2px solid yellow; */
    /* width:   80%; */
    padding: 10px;
    border: none;
    outline: none;
    background: rgba(13, 2, 2, 0.5);
    color: white;
    min-height: 150px;
    border-radius: 7px;
    font-size: 15px;
    
    font-weight: 200;
}

.review-submit {
    /* outline: 2px solid yellow; */
    width: fit-content;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    background-color: rgb(130, 30, 30);
    cursor: pointer;
    
}

.existing {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    /* outline: 1px solid white; */
    width: 100%;
}

.review-item {
    width: 79%;
    padding: 10px;
    border: none;
    outline: none;
    background: rgba(13, 2, 2, 0.5);
    color: white;
    /* min-height: 150px; */
    border-radius: 7px;
    font-size: 15px;
    
    font-weight: 200 !important;
}

.review-item p {
    font-size: 15px !important;
    display: inline;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
}




@media (max-width:1280px) {

    .info-container {
        flex-direction: column;
        margin-top: 0px;
    }

    .info-right {
        width:inherit;
    }
    
    .info-left {
        width: inherit;
    }

    .anime-name {
        font-size: 32px;
    }
    

}

@media (max-width:910px) {

    .info-left {
        flex-direction: column;
        align-items: center;
    }

    .info-left-desc {
        text-align: center;
        align-items: center;
    }

    .info-left-desc .description {
        display: none;
    }

    .info-right .description {
        display: block;
    }

    .anime-name {
        font-size: 28px;
    }

}

@media (max-width:520px) {
    textarea {
        width: 100%;
    }

    .reviews form {
        width: 100%;
    }

    .review-item {
    width: 100%;
}

}