
* {
    padding: 0;
    margin: 0;
}


body {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    z-index: 1;
    position: relative;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); */
    background-image: linear-gradient(to bottom, #000000, #140205, #200308, #290508, #320406, #320406, #320406, #320406, #290508, #200308, #140205, #000000);
    height: 100vh;
    color: white;
    font-family: "Poppins", sans-serif;
}

header {
    /* outline: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

}

header .logo {
    font-family: 'Chillax', sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.searchBox {
    display: flex;
    flex-grow: 1;
    max-width: 30%;
    /* outline: 1px solid white; */
}


.searchBox input{
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    flex-grow: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bx-search {
    display: none !important;
    font-size: 24px;
}

.bx-x {
    display: none !important;
    font-size: 24px;
}

.header-signup-login {
    display: flex;
    gap: 8px;
}

.login-signup-button {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #64131f, #921a1a, #bc2d00);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.hidden {
    display: none !important;
}

.profile-icon {
    width: 35px;
    height: 35px;
    border: 2px solid rgb(139, 139, 139);
    /* background-color: rgb(139, 139, 139); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.ai-person {
    font-size: 22px;
    font-weight: lighter;
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: rgb(139, 139, 139);
    border-radius: 50%;
}

.profile-tab {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(40px);
    position: absolute;
    z-index: 10;
    top: 70px;
    right: 70px;
    /* background-color: black; */
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid rgba(139, 139, 139, 0.745);
}

.profile-tab .profile-top {
    display: flex;
    /* outline: 1px solid white; */
    width: 100%;
    /* justify-content: space-between; */
    gap: 10px;
    align-items: center;
    padding: 20px;
    padding-top: 5px;
}

.profile-sections {
    padding: 20px;
    padding-top: 5px;
    /* outline: 1px solid white; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 14px;
    font-weight: 300;
}

.logout-button {
    /* outline: 1px solid white; */
    width: 100%;
    border-radius: 9px;
    overflow: hidden;
    background-color: #d81d27;
    transition: 0.4s;
}

.logout-button span {
    outline: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.profile-tab a {
    color: white;
    text-decoration: none;
    display: block;
    /* outline: 1px solid white; */
}

.profile-top .profile-icon {
    width: 70px;
    height: 70px;
}

.profile-top .ai-person {
    width: 64px;
    height: 64px;
    font-size: 40px;
}

.logout-button:hover {
    transform: scale(1.03);
}

.profile-tab-name {
    font-size: 20px;
    font-weight: 500;
}

@media (max-width:768px) {
    header {
        padding: 20px 10px;
    }

    .bx-search.hidden {
        display: none !important;
    }


    .bx-search {
        display: inline !important;
    }

    .login-signup-button {
        padding: 5px 7px;
        font-size: 12px;
    }

    .searchBox {
        display: none;
    }

    .searchBox.visible {
        display: flex !important;
    }

    .bx-x.visible {
        display: inline !important;
    }

    .profile-tab {
        right: 15px;
    }

}