
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #000000, #140205, #200308, #290508, #320406, #320406, #320406, #320406, #290508, #200308, #140205, #000000);
    height: 100vh;
    color: white;
    font-family: "Poppins", sans-serif;
}

header {
    /* outline: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

}

header .logo {
    font-family: 'Chillax', sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.searchBox {
    display: flex;
    flex-grow: 1;
    max-width: 30%;
    /* outline: 1px solid white; */
}


.searchBox input{
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    flex-grow: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bx-search {
    display: none !important;
    font-size: 24px;
}

.bx-x {
    display: none !important;
    font-size: 24px;
}

.header-signup-login {
    display: flex;
    gap: 8px;
}

.login-signup-button {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #64131f, #921a1a, #bc2d00);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.hidden {
    display: none !important;
}





@media (max-width:768px) {
    header {
        padding: 20px 10px;
    }

    .bx-search.hidden {
        display: none !important;
    }


    .bx-search {
        display: inline !important;
    }

    .login-signup-button {
        padding: 5px 7px;
        font-size: 12px;
    }

    .searchBox {
        display: none;
    }

    .searchBox.visible {
        display: flex !important;
    }

    .bx-x.visible {
        display: inline !important;
    }


}