.profile-container {
    display: flex;
    padding: 15px;
}

.profile-info-container {
    width: 40%;
    outline: 1px solid white;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-icon-large {
    outline: 1px solid white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-person.large {
    /* outline: 1px solid red; */
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;   
}

.profile-tab-name-large {
    font-size: 32px;
    font-weight: 500;
}