.profile-container {
    /* outline: 1px solid white; */
    display: flex;
    padding: 15px;
}

.profile-top-info-container {
    width: 50%;
    outline: 1px solid rgb(89, 81, 81);
    border-radius: 8px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.profile-favourites-container {
    /* outline: 1px solid white; */
}

.profile-icon-large {
    /* outline: 1px solid white; */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-person.large {
    /* outline: 1px solid red; */
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;   
}

.profile-tab-name-large {
    font-size: 32px;
    font-weight: 500;
}

.analytics-profile {
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: center;
    align-items:baseline;
}

.watch-count {
    width: 40px;
    text-align: center;
}
.watch-count p {
    display: flex;
    justify-content: center;
}

.analytics-profile span {
    font-size: 30px;
    font-weight: 500;
    color: rgb(191, 188, 188);
}

.analytics-profile p {
    font-size: 12px;
    color: rgb(191, 188, 188);
}

